name: Build and test workflow

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "20.x"

      - name: Install dependencies
        run: yarn && yarn yarn-audit-ci --high

      - name: Build packages
        run: yarn build

      - name: Build examples
        run: yarn build:examples

      - name: Build tools
        run: yarn build:tools

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test
