name: Build and test workflow

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile && yarn yarn-audit-ci --high

      - name: Build packages
        run: yarn build

      - name: Build examples
        run: yarn build:examples

      - name: Build tools
        run: yarn build:tools

      - name: Lint
        run: yarn lint

      - name: Test
        run: yarn test
